@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* @font-face {
  font-family: "Dancing Script";
  src: url('../public/assets/Dancing_Script/DancingScript-VariableFont_wght.ttf');
} */

html,

:root {
  --main-primary: #0d137a;
  --font-primary: #fff;
  --main-primary-trans: #0d127a4b;
  --main-primary-dark: #000;
  --main-primary-dark-trans: rgba(0, 0, 0, 0.466);
}

:root::-webkit-scrollbar {
  width:8px;
}

:root::-webkit-scrollbar-track {
    border-radius: 50px;
    margin: -0.2em 0;
}

:root::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}


body {
  background-color: var(--main-primary-dark);
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}

*::-webkit-scrollbar {
  width:8px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 50px;
  margin: -0.2em 0;
}

*::-webkit-scrollbar-thumb {
background: #888;
border-radius: 50px;
}